node_modules/
.env
.env*.local
*.iml
.idea/
.DS_Store
.traefik/certs/

# API
api/dist/

# UI
ui/.env.test
ui/e2e/.auth/
e2e/.auth/
ui/playwright-report/
ui/test-results/
ui/.next/
ui/out/
ui/build/
ui/.vercel
ui/.npmrc
ui/.yarn
api/rebuild-plan.json
