NEXT_PUBLIC_CLIENT_ID=1e8874ea-559d-4c79-8db3-c6d30672039f
NEXT_PUBLIC_AUTHORITY=https://login.microsoftonline.com/00e1df3d-9626-410c-898c-16aaa8c2afc9
NEXT_PUBLIC_APIM_URL=https://pontifex-apim-nonprod-centralus-hrpq.azure-api.net/
